1. SQLite as data source
=======================

SQLite defined as data source which contains previosly calculated data. 

Tasks:
*[x] Create database schema
*[ ] Import salary data from csv to db

2. Data presentation
======================

Presentation of data from db in table form.

Tasks:
*[ ] Create view for presentation
*[ ] Create template with table of worked years | salary

3. Main page
=====================

Data can be accesed from the menu.

Tasks:
*[ ] Create index view
*[ ] Create index template
*[ ] Create menu template
