{% include "cognitive/header.html" %}

<h1> Salary data </h1>

{% if salary_list %}
    <table class="table table-striped">
        <thead>
            <th>Worked years</th>
            <th>Salary brutto</th>
        </thead>
        <tbody>
    {% for entry in salary_list %}
        <tr>
            <td> {{ entry.worked_years }} </td>
            <td> {{ entry.salary }} </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data.</p>
{% endif %}

{% include "cognitive/footer.html" %}
